# SPDX-FileCopyrightText: 2025 CERN <home.cern>
#
# SPDX-License-Identifier: LGPL-2.1-or-later

#TODO: Rearange this files to be more adapted to the project itself
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# log files
*.log

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tests / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# logs files
spexi7u/logs/

# Pyre type checker
.pyre/
/.idea
_build/doctrees/environment.pickle
_build/doctrees/index.doctree
_build/doctrees/spikes/DMM/DMM.doctree
_build/doctrees/spikes/DMM/DMM_documentation.doctree
_build/doctrees/spikes/DMM/tutorial.doctree
_build/doctrees/tut.doctree
_build/html/.buildinfo
_build/html/_sources/index.rst.txt
_build/html/_sources/spikes/DMM/DMM.rst.txt
_build/html/_sources/spikes/DMM/DMM_documentation.rst.txt
_build/html/_sources/spikes/DMM/tutorial.rst.txt
_build/html/_sources/tut.rst.txt
_build/html/_static/alabaster.css
_build/html/_static/basic.css
_build/html/_static/classic.css
_build/html/_static/css/badge_only.css
_build/html/_static/css/fonts/fontawesome-webfont.eot
_build/html/_static/css/fonts/fontawesome-webfont.svg
_build/html/_static/css/fonts/fontawesome-webfont.ttf
_build/html/_static/css/fonts/fontawesome-webfont.woff
_build/html/_static/css/fonts/fontawesome-webfont.woff2
_build/html/_static/css/fonts/lato-bold-italic.woff
_build/html/_static/css/fonts/lato-bold-italic.woff2
_build/html/_static/css/fonts/lato-bold.woff
_build/html/_static/css/fonts/lato-bold.woff2
_build/html/_static/css/fonts/lato-normal-italic.woff
_build/html/_static/css/fonts/lato-normal-italic.woff2
_build/html/_static/css/fonts/lato-normal.woff
_build/html/_static/css/fonts/lato-normal.woff2
_build/html/_static/css/fonts/Roboto-Slab-Bold.woff
_build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
_build/html/_static/css/fonts/Roboto-Slab-Regular.woff
_build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
_build/html/_static/css/insegel.css
_build/html/_static/css/theme.css
_build/html/_static/custom.css
_build/html/_static/doctools.js
_build/html/_static/documentation_options.js
_build/html/_static/file.png
_build/html/_static/img/favicon-16x16.png
_build/html/_static/img/favicon-32x32.png
_build/html/_static/img/logo.svg
_build/html/_static/jquery-3.5.1.js
_build/html/_static/jquery.js
_build/html/_static/js/badge_only.js
_build/html/_static/js/html5shiv-printshiv.min.js
_build/html/_static/js/html5shiv.min.js
_build/html/_static/js/theme.js
_build/html/_static/language_data.js
_build/html/_static/minus.png
_build/html/_static/plus.png
_build/html/_static/pygments.css
_build/html/_static/searchtools.js
_build/html/_static/sidebar.js
_build/html/_static/underscore-1.12.0.js
_build/html/_static/underscore.js
_build/html/genindex.html
_build/html/index.html
_build/html/objects.inv
_build/html/py-modindex.html
_build/html/search.html
_build/html/searchindex.js
_build/html/spikes/DMM/DMM.html
_build/html/spikes/DMM/DMM_documentation.html
_build/html/spikes/DMM/tutorial.html
_build/html/tut.html
_build/doctrees/spikes/scope/SCOPE_documentation.doctree
_build/html/_sources/spikes/scope/SCOPE_documentation.rst.txt
_build/html/spikes/scope/SCOPE_documentation.html
/src/tests/ibert/test/

# pypts specific
drivers
# Start of .gitignore content managed by acc-py

# Project artefacts.
*/_version.py

# Runtime artefacts.
__pycache__
*.py[co]
*.egg-info
*.pkg-info

# Common virtual env names
venv/
venv.*/

# Build artefacts
*.whl
*.so
dist/
build/

# Common IDE files
.idea/
.vscode/

# End of .gitignore content managed by acc-py
src/pypts/_version.py
temp_report_output/report.csv
pts_reports/report.csv
temp_report_output/report.html
pts_reports/report.html

src/pypts/pts_reports/
pts_reports/

TODO.txt
.claude/settings.local.json
.src/pypts/XYGraph/123.csv