# SPDX-FileCopyrightText: 2025 2025 CERN <home.cern>
#
# SPDX-License-Identifier: LGPL-2.1-or-later

# Start of .gitignore content managed by acc-py

build
source/api/*

# End of .gitignore content managed by acc-py
